/node_modules
/public/hot
/public/storage
/public/admin
/storage/*.key
/resources/xray-fonts
/resources/admin
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

